<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toobdoonlood</title>
    <link rel="stylesheet" type="text/css" href="/toob-dl/static/main.css">
    <script src="/toob-dl/static/main.js"></script>
</head>
<body>
<header><h1 class="spinner"><span class="scaler"><span class="color-cylcer">ToobDoonLood</span></span></h1></header>
<main>
    <form action="/toob-dl/toob" method="post">
        <label>
            <span>Youtube URL</span>
            <input type="url" name="url" id="the_url" placeholder="z.B. : https://www.youtube.com/watch?v=_3viTpO9io8">
        </label>
        <label>
            <span class="quality-container">Qualität
                <span id="quality-2" class="quality">Am wenigsten gut</span>
                <span id="quality-3" class="quality">Weniger gut</span>
                <span id="quality-4" class="quality">Weniger weniger weniger gut</span>
                <span id="quality-5" class="quality">Weniger weniger gut</span>
                <span id="quality-6" class="quality shown">Okay</span>
                <span id="quality-7" class="quality">Gut</span>
                <span id="quality-8" class="quality">Besser</span>
                <span id="quality-9" class="quality">Besserer</span>
                <span id="quality-10" class="quality">Bestens</span>
            </span>
            <input type="range" min="2" max="10" value="5" name="quality" id="quality-slider">
        </label>
        <label id="dl-playlist" class="hidden">
            Gesamte Playlist laden
            <input type="checkbox" name="playlist">
        </label>
        <button type="submit" onclick="this.classList.add('loading');this.setAttribute('disabled', true);">Download MP3</button>
    </form>
    <div class="usage">
        Die Dateien bleiben in diesem Browser maximal einen Tag verfügbar. Wechselt man den Browser oder kommt später wieder, sind die Dateien weg.
    </div>
    <ul>
        {% for download in existing %}
        <li>
            <a href="/toob-dl/dl/{{download}}" target="_blank">{{download}}</a>
        </li>
        {% endfor %}

    </ul>
</main>
</body>
</html>